### FUNCTIONALITY REFERENCE SHEET

## Handy Functions

In [9]:
print('Tevin is Great')

Tevin is Great

In [10]:
# Use string formatting ("f-strings") to insert values
name = 'Kevin'
f'My name is: {name}'

'My name is: Kevin'

**Range**

In [11]:
# An iterable object containing sequential integers
range(0, 10)

# Iterate by steps of 2
range(0, 10, 2)

range(0, 10, 2)

**Type**

In [12]:
# Returns the datatype of the value inserted
type(1)

int

## Arithmetic & Print Lines

**Basic arithmetic operations in Python**

In [13]:
### Basic arithmetic operations in Python
x= 2 + 3  # Addition
print (x)
print (x % 2)  # Modulus
print ((x*2) ** 3)  # Exponentiation
print (x // 2)  # Floor division
print (x / 2)  # Division
print (x - 2)  # Subtraction
print (x + 2)  # Addition
print (x * 2)  # Multiplication
print (x ** 2)  # Exponentiation

5
1
1000
2
2.5
3
7
10
25

**Multi-line Text**

In [14]:
## """Means Multi Line Text"""

print("""My Name is Kevin Robinson
      I am 5'10 tall
      I am 28 years old. I just started learning Python
        and I am excited to learn more!""")

My Name is Kevin Robinson
      I am 5'10 tall
      I am 28 years old. I just started learning Python
        and I am excited to learn more!

## Data Types

In [15]:
# Integers
x = 1 # whole numbers
type(x)

int

In [16]:
# Floats
x = 1.0 # decimal numbers
type(x)

float

In [17]:
# Strings
x = 'Ryan' # text
type(x)

str

In [18]:
# Booleans
x = True # True or False
type(x)

bool

In [19]:
# Byte data
x = bytes(4)    # sequence of bytes
type(x)

bytes

## Lists

In [20]:
aList = [1,2,3,4] # Create a list of integers
type(aList)

list

In [21]:
# Append item to a list
aList.append(5) ## Append 5 to
aList

[1, 2, 3, 4, 5]

In [22]:
# List concatenation
[1,2,3] + [4,5,6] ## Concatenate two lists

[1, 2, 3, 4, 5, 6]

In [23]:
# List multiplication
[1,2] * 5 ## Repeat the list 5 times

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [24]:
# Accessing items in a list

aList = [1,2,3,4,5,6,7,8,9,10]
# Print the item at index 4
print(aList[4])

# Print the items at index 0, up to (not including) index 4
print(aList[0:4])

# If the first index is missing, it's assumed to be 0
print(aList[:4])

# If the last index is missing, it's assumed to go to the end of the list
print(aList[4:])

# Print every other item in the list
print(aList[::2])

# Print every third item in the list
print(aList[::3])

5
[1, 2, 3, 4]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [25]:
my_list = [2,4,6,8] ## Create a list
print(my_list)

[2, 4, 6, 8]

In [26]:
my_list = ['list', 'of', 'strings'] ## Create a list of strings

In [27]:
my_list = [1,'list', False, []] ## Create a list of mixed datatypes

In [28]:
my_list = [[1,2,3],[False, True], []] ## Create a nested list

In [29]:
len(my_list) ## Get the length of a list

3

## List Slicing

In [30]:
myList = [1,2,3,4,5] 
myList[3:] ## Slice the list from index 3 to the end

[4, 5]

In [31]:
myList[0:6:2] ## Slice the list from index 0 to 6, step by 2

[1, 3, 5]

In [32]:
myList[::2] ## Slice the entire list, step by 2

[1, 3, 5]

In [33]:
myList = list(range(100)) ## Create a list of integers from 0 to 99

In [34]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

## Modifying Lists

In [35]:
myList = [1,2,3,4]
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [36]:
myList.insert(3, 'a new value') ## Insert 'a new value' at index 3
print(myList)

[1, 2, 3, 'a new value', 4, 5]

In [37]:
myList.remove('a new value') ## Remove the first occurrence of 'a new value'

In [38]:
myList ## Remove the first occurrence of 'a new value'

[1, 2, 3, 4, 5]

In [39]:
myList.pop() ## Remove and return the last item

5

In [40]:
while len(myList):
    print(myList.pop()) ## Keep popping items until the list is empty

4
3
2
1

In [41]:
a = [1,2,3,4,5]
b = a
a.append(6)
print(b)

[1, 2, 3, 4, 5, 6]

In [42]:
a = [1,2,3,4,5]
b = a.copy()
a.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

## List Comprehensions

In [ ]:
myList = [1,2,3,4,5]
[2*item for item in myList] ## Double each item in the list

**List comprehensions with filters**

In [ ]:
myList = list(range(100))
filteredList = [item for item in myList if item % 9 == 1] ## Filter items where item mod 9 equals 1
filteredList

In [ ]:
filteredList = [item for item in myList if item % 10 < 3] ## Filter items where item mod 10 is less than 3
print(filteredList)

**List comprehensions with functions**

In [ ]:
myString = 'My name is Ryan Mitchell. I live in Boston' ## Create a string
myString.split('.')

In [ ]:
myString.split() ## Split the string at each space

In [ ]:
def cleanWord(word):
    return word.replace('.', '').lower()

[cleanWord(word) for word in myString.split()] ## Clean each word in the string

In [ ]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 3] ## Clean and filter words with length less than 3

**Nested list comprehensions**

In [ ]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')] ## Nested list comprehensions

## Dictionaries

In [43]:
from collections import defaultdict # Import defaultdict from collections module

In [44]:
animals = {
    'a': 'aardvark',
    'b': 'bear',
    'c': 'cat',
    'd': 'dog',
    'e': 'elephant',
    'f': 'fox',
    'g': 'goat',
    'h': 'hippo',
    'i': 'iguana',
    'j': 'jaguar'
}
animals

{'a': 'aardvark',
 'b': 'bear',
 'c': 'cat',
 'd': 'dog',
 'e': 'elephant',
 'f': 'fox',
 'g': 'goat',
 'h': 'hippo',
 'i': 'iguana',
 'j': 'jaguar'}

In [45]:
animals['f'] = 'frog' ## Update the value for key 'f'

In [46]:
animals['f'] = 'frog' ## Update the value for key 'f'

In [47]:
animals['a'] = 'antelope' ## Update the value for key 'a'

In [48]:
animals.keys() ## Get all the keys in the dictionary

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [49]:
list(animals.keys()) ## Convert the keys view to a list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [50]:
animals.get('a') ## Get the value for key 'a'

'antelope'

In [51]:
len(animals) ## Get the number of key-value pairs in the dictionary

10

In [52]:
animals = {
    'a': ['aardvark', 'antelope'],
    'b': ['bear'],
    'c': ['cat'],
    'd': ['dog'],
    'e': ['elephant'],
    'f': ['frog'],
    'g': ['goat'],
    'h': ['hippo'],
    'i': ['iguana'],
    'j': ['jaguar']
}

In [53]:
animals['b'].append('bison') ## Append 'bison' to the list at key 'b'

In [54]:
animals['c'] = ['cat']

In [55]:
animals = defaultdict(list)

In [56]:
animals

defaultdict(list, {})

In [57]:
animals['e'].append('elephant')
animals

defaultdict(list, {'e': ['elephant']})

In [58]:
animals['e'].append('emu')
animals

defaultdict(list, {'e': ['elephant', 'emu']})

In [59]:
animals['f'].append('fox')
animals

defaultdict(list, {'e': ['elephant', 'emu'], 'f': ['fox']})

In [60]:
if 'c' not in animals:
    animals['c'] = []
    
animals['c'].append('cat')

In [61]:
my_dictionary = { # Create a dictionary
    'apple': 'A red fruit', 
    'bear': 'A scary animal',
    'car': 'A fast vehicle',
        'kia': 'A car brand',
        'suv': 'A sport utility vehicle',
        '18-wheeler': 'A large truck',
    'TV': 'A device for viewing programs',
        'flatscreen': 'A type of television'
        
} ## Key/value pairs

In [62]:
my_dictionary[ 'TV' ]

'A device for viewing programs'

In [63]:
my_dictionary = {
    'apple': 'A red fruit', 
    'bear': 'A scary animal',
    'apple': 'Sometimes a green fruit'
}

In [64]:
aDict = {
    'one': 1, ## Key/value pairs
    'two': 2, 
    'three': 3,
}
# Add key/value pairs to dictionary
aDict['four'] = 4

# Access values by keys
print(aDict['one'])

1

In [65]:
# Print all keys
print(aDict.keys())

# Print all values
print(aDict.values())

# Print all key/value pairs
print(aDict.items())

dict_keys(['one', 'two', 'three', 'four'])
dict_values([1, 2, 3, 4])
dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

## Dictionary Comprehension

In [ ]:
animalList = [('a', 'aardvark'), ('b', 'bear'), ('c', 'cat'), ('d', 'dog')]
animals = {item[0]: item[1] for item in animalList} ## Create a dictionary from a list of tuples
animals

In [ ]:
animals = {key: value for key, value in animalList} ## Another way to create the dictionary from a list of tuples
animals

In [ ]:
animals.items() ## Get a view of the dictionary's items

In [ ]:
list(animals.items()) ## Convert the items view to a list

In [ ]:
[{'letter': key, 'name': value} for key, value in animals.items()] ## Create a list of dictionaries from the items in the dictionary

## Sets (no order, no duplicates)

In [66]:
aSet = {1,2,3,4} # Create a set of integers

# Add an item to a set
aSet.add(5)

# Remove an item from a set
aSet.remove(2)
print(aSet)

{1, 3, 4, 5}

In [67]:
weekdays = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday"}
print("Monday" in weekdays)   # True
print("Sunday" in weekdays)   # False

True
False

In [68]:
my_sets = {1,2,3,4,5} 
print(my_sets)

{1, 2, 3, 4, 5}

## Tuples

In [69]:
 (1,2) == (2,1) # False - order matters in tuples
 {1,2} == {2,1} # True - order does not matter in sets

True

In [70]:
# Tuples cannot be modified
aTuple = (1,2,3,4) 
aTuple

(1, 2, 3, 4)

In [71]:
my_list.append(10) ## Append 10 to the end of my_list
print(my_list)

[[1, 2, 3], [False, True], [], 10]

## Casting Data Types

In [72]:
# String to integer
int('1')

1

In [73]:
# Float to integer
int(1.5)

1

In [74]:
# Integer to float
float(1)

1.0

In [75]:
# Integer to boolean
bool(1)

True

In [76]:
# String to boolean (Anything other than an empty string is True)
bool('')

False

In [77]:
# Int to string
str(1)

'1'

In [78]:
# String to bytes, requires the encoding
bytes('🙂', 'utf-8')

b'\xf0\x9f\x99\x82'

## String Operators

In [79]:
 String concatenation
'Ryan ' + 'Mitchell'

IndentationError: unexpected indent (3917000301.py, line 1)

In [ ]:
# String multiplication
'Python'*6

'PythonPythonPythonPythonPythonPython'

In [ ]:
 #Access a particular character in a string
'Python'[3]

## Membership Operators

In [ ]:
1 in [1,2,3,4,5]

In [ ]:
10 not in [1,2,3,4,5]

In [ ]:
'cat' not in 'my pet cat'

## Boolean Operators

In [ ]:
# AND
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# OR
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# Equality operator
5 == 5

In [ ]:
# Inequality operator
5 != 4

In [ ]:
# Less than
4 < 5

In [ ]:
# Less than or equals to 
5 <= 5

In [ ]:
# Greater than
5 > 4

## Control Flow

In [ ]:
if False: 
    print('This does not print')
else: 
    print('This will print')

In [ ]:
# Iterate through items in a range
for i in range(0, 5):
    print('Number: {}'.format(i))

In [ ]:
i = 0
while i < 5:
    print('Number: {}'.format(i))
    i = i + 1

**Control Flow with Print**

In [ ]:
math_score = 91
science_score = 91
if math_score >= 90 and science_score >= 90:
    print("You have made the honor roll!")

You have made the honor roll!

**Control Flow with Functions**

In [ ]:
x = "wings"
y = "hennessey"
z = "White T-shirt, Blue Jeans, and Jordans"

print(f"I like to eat {x} and drink {y}.")
print(f"My favorite outfit is a {z}.")

# Nested preferences
if x == "wings" and y == "hennessey":
    print("This is my favorite meal!")
elif y == "water":
    print("I prefer something stronger.")
else:
    print("I like to try different foods and drinks.")

I like to eat wings and drink hennessey.
My favorite outfit is a White T-shirt, Blue Jeans, and Jordans.
This is my favorite meal!

## Handling Exceptions

**Try / Except**

In [ ]:
def causeError():
    try:
        return 1/0
    except Exception as e:
        return e
    
causeError()

In [ ]:
def causeError():
    try:
        return 1/0
    except Exception:
        print('There was some sort of error!')
    
causeError()

**Finally**

In [ ]:
def causeError():
    try:
        return 1/1
    except Exception:
        print('There was some sort of error!')
    finally:
        print('This will always execute!')
    
causeError()

In [ ]:
def causeError():
    start = time.time()
    try:
        time.sleep(0.5)
        return 1/0
    except Exception:
        print('There was some sort of error!')
    finally:
        print(f'Function took {time.time() - start} seconds to execute')
    
causeError()

**Catching Exceptions by Type**

In [ ]:
def causeError():
    try:
        return 1 + 'a'

    except TypeError:
        print('There was a type error!')
    except ZeroDivisionError:
        print('There was a zero division error!')
    except Exception:
        print('There was some sort of error!')

    
causeError()

**Custom Decorators**

In [ ]:
def handleException(func):
    def wrapper(*args):
        try:
            func(*args)
        except TypeError:
            print('There was a type error!')
        except ZeroDivisionError:
            print('There was a zero division error!')
        except Exception:
            print('There was some sort of error!')
    return wrapper

@handleException
def causeError():
    return 1/0

causeError()

**Raising Exceptions**

In [ ]:
@handleException
def raiseError(n):
    if n == 0:
        raise Exception()
    print(n)
    
raiseError(1)

## Dictionary with For Loops

**Dictionary with For Loop**

In [ ]:
drinks = {
    "Monday": "Drink water 🥤",
    "Tuesday": "Drink juice 🧃",
    "Wednesday": "Drink coffee ☕",
    "Thursday": "Drink tea 🍵",
    "Friday": "Drink soda 🥤",
    "Saturday": "Drink wine 🍷",
    "Sunday": "Drink champagne 🍾\nRelax and enjoy your day!"
}

for day in drinks:
    print(day)
    print(drinks[day])

Monday
Drink water 🥤
Tuesday
Drink juice 🧃
Wednesday
Drink coffee ☕
Thursday
Drink tea 🍵
Friday
Drink soda 🥤
Saturday
Drink wine 🍷
Sunday
Drink champagne 🍾
Relax and enjoy your day!

**Dictionary x For Loop x Function**

In [ ]:
dictionary = {
    "x": 5,
    "y": 5,
    "z": 10
}
print(f"x is y = {dictionary['y']}")

for y in range(1, 11):
    print(y)
    print(f"x is {y} = {dictionary['x']}/2 = {dictionary['x']/2}")

x is y = 5
1
x is 1 = 5/2 = 2.5
2
x is 2 = 5/2 = 2.5
3
x is 3 = 5/2 = 2.5
4
x is 4 = 5/2 = 2.5
5
x is 5 = 5/2 = 2.5
6
x is 6 = 5/2 = 2.5
7
x is 7 = 5/2 = 2.5
8
x is 8 = 5/2 = 2.5
9
x is 9 = 5/2 = 2.5
10
x is 10 = 5/2 = 2.5

**For Loop x Control Flow x Function**

In [ ]:
for battery in range(20, -1, -1):
    if battery == 0:
        print("Battery empty! 🔋")
    else:
        print(f"Battery at {battery}% - Phone is in Power Saving Mode")

Battery at 20% - Phone is in Power Saving Mode
Battery at 19% - Phone is in Power Saving Mode
Battery at 18% - Phone is in Power Saving Mode
Battery at 17% - Phone is in Power Saving Mode
Battery at 16% - Phone is in Power Saving Mode
Battery at 15% - Phone is in Power Saving Mode
Battery at 14% - Phone is in Power Saving Mode
Battery at 13% - Phone is in Power Saving Mode
Battery at 12% - Phone is in Power Saving Mode
Battery at 11% - Phone is in Power Saving Mode
Battery at 10% - Phone is in Power Saving Mode
Battery at 9% - Phone is in Power Saving Mode
Battery at 8% - Phone is in Power Saving Mode
Battery at 7% - Phone is in Power Saving Mode
Battery at 6% - Phone is in Power Saving Mode
Battery at 5% - Phone is in Power Saving Mode
Battery at 4% - Phone is in Power Saving Mode
Battery at 3% - Phone is in Power Saving Mode
Battery at 2% - Phone is in Power Saving Mode
Battery at 1% - Phone is in Power Saving Mode
Battery empty! 🔋

**Dictionary x Function For Loop**

In [ ]:
str1 = "Hello"
str2 = "Python"
str3 = "Multi"

dictionary = {
    "students": [
        {"name": "Kevin", "age": 28, "city": "Chicago"},
        {"name": "Alice", "age": 24, "city": "New York"},
        {"name": "Bob", "age": 22, "city": "San Francisco"}
    ]
}

# Function to greet all students
def say_hey():
    for student in dictionary["students"]:
        print(f"{str1}, {student['name']}! Welcome to {str2} {str3} 🚀")

# Call the function
say_hey()

Hello, Kevin! Welcome to Python Multi 🚀
Hello, Alice! Welcome to Python Multi 🚀
Hello, Bob! Welcome to Python Multi 🚀

**Dicntionary x With Multi-line Function**

In [ ]:
people = [
    {"name": "Kevin Robinson", "age": 28, "height": "5'10", "weight": 180, "eyes": "Brown", "teeth": "White", "hair": "Black"},
    {"name": "Alice Johnson", "age": 24, "height": "5'6", "weight": 150, "eyes": "Blue", "teeth": "Yellow", "hair": "Blonde"},
    {"name": "Bob Smith", "age": 22, "height": "5'8", "weight": 130, "eyes": "Green", "teeth": "Brown", "hair": "Red"}
]

for person in people:
    print(f"""Let's talk about {person['name']}. I am {person['age']} years old and {person['height']} tall.
          I weigh {person['weight']} pounds. I have {person['eyes']} eyes and {person['teeth']} teeth in my mouth
            when I smile. In addition, I have {person['hair']} hair.""")
    print("-" * 40)

Let's talk about Kevin Robinson. I am 28 years old and 5'10 tall.
          I weigh 180 pounds. I have Brown eyes and White teeth in my mouth
            when I smile. In addition, I have Black hair.
----------------------------------------
Let's talk about Alice Johnson. I am 24 years old and 5'6 tall.
          I weigh 150 pounds. I have Blue eyes and Yellow teeth in my mouth
            when I smile. In addition, I have Blonde hair.
----------------------------------------
Let's talk about Bob Smith. I am 22 years old and 5'8 tall.
          I weigh 130 pounds. I have Green eyes and Brown teeth in my mouth
            when I smile. In addition, I have Red hair.
----------------------------------------

## Functions

In [ ]:
def DivideByTen(val): # Function that divides the input value by 10
    return val / 10

DivideByTen(100)

In [ ]:
def divide (val1, val2):    
    return val1 / val2

In [ ]:
# Function with one argument and a return value
def aFunction(anArg):
    return anArg + 1

aFunction(5)

In [ ]:
# Different ways of calling a function with a keyword argument
def aFunction(anArg, optionalArg=1): # optionalArg has a default value of 1
    return anArg + optionalArg # Return the sum of anArg and optionalArg

print(aFunction(5))
print(aFunction(5, 4))
print(aFunction(5, optionalArg=4))

**Example****

In [ ]:
import math # Import the math module

In [ ]:
def performOperation(num1, num2, operation): # Function with multiple arguments
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    if operation == 'divide':
        if num2 == 0:
            return 'Error: Division by zero'
        return num1 / num2

performOperation(10, 0, 'divide')

**Named Parameters**

In [ ]:
def performOperation(num1, num2, operation='sum'):
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    
performOperation(2, 3)

In [ ]:
def performOperation(num1, num2, operation='sum', message='Default message'):
    print(message)
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    
performOperation(2, 3, message='A new message!', operation='multiply')

**Positioning Arguments**

In [ ]:
def performOperation(*args):
    print(args)
    
performOperation(1,2,3)

**Keyword Arguments**

In [ ]:
def performOperation(*args, **kwargs):
    print(args)
    print(kwargs)
performOperation(1,2,3, operation='sum')

In [ ]:
def performOperation(*args, operation='sum'):
    if operation == 'sum':
        return sum(args)
    if operation == 'multiply':
        return math.prod(args)
    
performOperation(1,2,3,6, 7, 8, operation='sum')

## Classes

In [ ]:
class Car:
    def __init__(self, make, model): # Constructor to initialize make and model
        self.make = make
        self.model = model
        self.wheels = 4

    def honk(self): ## Method to simulate honking
        print(self.make + ' ' + self.model + ' says: Beep!')
        
my_car = Car('Toyota', 'Corolla') ## Create an instance of the Car class
my_car.honk() ## Call the honk method

Toyota Corolla says: Beep!

In [ ]:
# A simple class with one attribute and one method
class ParentClass:
    def __init__(self, val):
        self.val = val
        
    def printVal(self):
        print(self.val)
        

classInstance = ParentClass('Value for the class attribute "val"')
classInstance.printVal()

Value for the class attribute "val"

In [ ]:
# Extend the parent class to create a child class        
class ChildClass(parentClass):
    
    def printVal(self):
        print('Child class! {}'.format(self.val))
        
childInstance = ChildClass('Value for the class attribute "val"')
childInstance.printVal()

NameError: name 'parentClass' is not defined

**EXAMPLE**

**Instance Attributes**

In [ ]:
class Dog:
    def __init__(self, name):
        self.name = name
        self.legs = 4
    
    def speak(self):
        print(self.name + ' says: Bark!')

myDog = Dog('Rover')
print(myDog.name)
print(myDog.legs)

In [ ]:
Dog.legs

**Static Attributes**

In [ ]:
class Dog:
    legs = 4 # Static attribute shared by all instances
    def __init__(self, name):   # Constructor to initialize name
        self.name = name
    
    def speak(self):
        print(self.name + ' says: Bark!')

myDog = Dog('Rover')
print(myDog.name)
print(myDog.legs)

In [ ]:
Dog.legs # Access static attribute via class name

In [ ]:
Dog.legs = 3 # Modify static attribute via class name

In [ ]:
myDog = Dog('Rover') # Create an instance of Dog
print(myDog.name)
print(myDog.legs)

In [ ]:
class Dog:
    _legs = 4
    def __init__(self, name):
        self.name = name
        
    def getLegs(self):
        return self._legs
    
    def speak(self):
        print(self.name + ' says: Bark!')

myDog = Dog('Rover')
print(myDog.name)
print(myDog.getLegs())

## While Loops with Date & Time (Break, Pass, Continue)

In [ ]:
from datetime import datetime # Import datetime module

**Note**: This notebook has been modified from what is shown in the video. In order to prevent bugs when the current time ends in 58 or 59 seconds, the following line:

<code>wait_until = datetime.now().second + 2</code>

has been changed to 

<code>wait_until = (datetime.now().second + 2) % 60</code>

where it appears in the code samples

In [ ]:
datetime.now().second

In [ ]:
wait_until = (datetime.now().second + 2) % 60 ## Wait until 2 seconds from now

while datetime.now().second != wait_until: # Wait until the current second matches wait_until
    print('Still waiting!')
    
print(f'We are at {wait_until} seconds!')

**Pass**

In [ ]:
wait_until = (datetime.now().second + 2) % 60

while datetime.now().second != wait_until: # Wait until the current second matches wait_until
    pass
    
print(f'We are at {wait_until} seconds!')

**Break**

In [ ]:
wait_until = (datetime.now().second + 2) % 60

while True:
    if datetime.now().second == wait_until:
        print(f'We are at {wait_until} seconds!')
        break

**Continue**

In [ ]:
wait_until = (datetime.now().second + 2) % 60

while datetime.now().second != wait_until: # Wait until the current second matches wait_until
    continue   # Just continue to the next iteration
    print('Still waiting!')
    
    
print(f'We are at {wait_until} seconds!')

## Arguments & Loops

**For Loops**

In [ ]:
myList = [1,2,3,4]
for item in myList:
    print(item)

In [ ]:
for g in range(15):
    print(g)

In [ ]:
for i in range(100):
    print(i)

**Postioning Argument**

In [ ]:
def WhatIsX(x):
    return x**2

print(WhatIsX(10))

100

**Positioning Argument with While Loop & Function**

In [ ]:
def WhatIsX(x):
    return x**2

num = 1  # start at 1
while num <= 25:   # keep going until 10
    print(f"The square of {num} is {WhatIsX(num)}")
    num += 1   # increase by 1 each loop

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100
The square of 11 is 121
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196
The square of 15 is 225
The square of 16 is 256
The square of 17 is 289
The square of 18 is 324
The square of 19 is 361
The square of 20 is 400
The square of 21 is 441
The square of 22 is 484
The square of 23 is 529
The square of 24 is 576
The square of 25 is 625

**Defining Function, Establishing Parameter, & Control Flow**

In [ ]:
def third_down (yards_to_go):
    if yards_to_go >= 10:
        return "Pass"
    elif 5 <= yards_to_go < 10:
        return "Run"
    elif 1 <= yards_to_go < 5:
        return "Run"
    elif yards_to_go == 0:
        return "Go for it!"
    else:
        return "Invalid input"

**List, For Loop, Control Flow**

In [ ]:
##List: keeps order, allows duplicates

## Days of the week
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

#Output request
for day in days:
    print(f' How is your {day} going? ')
    
#Conditionasl statements
    if day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]:
        print("Hope your workday is going well!")
    else:
        print("Enjoy your weekend!")

 How is your Monday going?
Hope your workday is going well!
 How is your Tuesday going?
Hope your workday is going well!
 How is your Wednesday going?
Hope your workday is going well!
 How is your Thursday going?
Hope your workday is going well!
 How is your Friday going?
Hope your workday is going well!
 How is your Saturday going?
Enjoy your weekend!
 How is your Sunday going?
Enjoy your weekend!

**Loops: For & While**

In [ ]:
# For loop: cycles through each day
days = ["Mon", "Tue", "Wed"]
for day in days:
    print(day)

# While loop: stops when condition is false
count = 0
while count < 3:
    print(days[count])
    count += 1

Mon
Tue
Wed
Mon
Tue
Wed

**Set (no order, no duplicates)**

**Nested Loop: For Loop in a For Loop**

In [ ]:
def multiplication_table(n):
    for i in range(1, n+1):
        for j in range(1, n+1):
            print(f"{i} * {j} = {i * j}")
        print()  # Newline after each row

multiplication_table(5)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

## API Request

**Public API Request**

In [ ]:
import requests

# Make a GET request to a public API
response = requests.get("https://chatgpt.com/")

# Print the status codese.status_code)

# Print the JSON data (if available)
print("Response JSON:", response.json())
print("Status code:", respon

_IncompleteInputError: incomplete input (1746703956.py, line 10)

## Creating Dataframe | Table from Dictionary

In [ ]:
import numpy as np
import pandas as pd

# Create a simple DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)
if __name__ == "__main__":
    print("This script is being run directly.")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
This script is being run directly.

## File Handling (CSV)

**CSV**

**Reading**

In [ ]:
with open('10_02_us.csv', 'r') as f:
    reader = csv.reader(f, delimiter='\t') # Create a CSV reader object
    for row in reader:
        print(row)

In [ ]:
with open('10_02_us.csv', 'r') as f: # Open the CSV file for reading
    reader = csv.reader(f, delimiter='\t') # Create a CSV reader object
    next(reader) # Skip the header row
    next(reader) # Skip the second row
    for row in reader: # Iterate through the remaining rows
        print(row)

In [ ]:
with open('10_02_us.csv', 'r') as f:
    reader = list(csv.reader(f, delimiter='\t')) # Convert reader to a list
    for row in reader[1:]:
        print(row)

In [ ]:
with open('10_02_us.csv', 'r') as f: 
    reader = csv.DictReader(f, delimiter='\t') # Create a CSV DictReader object
    for row in reader: # Iterate through each row as a dictionary
        print(row)

**Filtering the Data**

In [ ]:
with open('10_02_us.csv', 'r') as f: 
    data = list(csv.DictReader(f, delimiter='\t')) # Convert DictReader to a list of dictionaries

In [ ]:
primes = []
for number in range(2, 99999):
    for factor in range(2, int(number**0.5) + 1): # Check for factors up to the square root of the number
        if number % factor == 0: # If number is divisible by factor
            break  # Not a prime number, exit the loop
    else:
        primes.append(number) # If no factors found, it's a prime number

In [ ]:
data = [row for row in data if int(row['postal code']) in primes and row['state code'] == 'MA'] # Filter for rows with prime postal codes in MA
len(data)

**Writing**

In [ ]:
with open('10_02_ma_prime.csv', 'w') as f:
    writer = csv.writer(f) # Create a CSV writer object
    for row in data: # Iterate through the filtered data
        writer.writerow([row['place name'], row['county']])

**OTHER EXAMPLES**

In [82]:
with open('test.txt', 'w') as f:
    f.write('Writing a new line\n')

In [83]:
with open('test.txt', 'a') as f:
    f.write('Adding a new line to the last one\n')

## File Handling (JSON)

In [ ]:
import json # Import the JSON module
from json import JSONDecodeError, JSONEncoder # Import specific classes from the JSON module

**Loading JSON**

In [ ]:
jsonString = '{"a": "apple", "b": "bear", "c": "cat",}' # A JSON string with a trailing comma
try:
    json.loads(jsonString) # Attempt to parse the JSON string
except JSONDecodeError:
    print('Could not parse JSON!')

In [ ]:
{'a': 'apple', 'b': 'bear', 'c': 'cat',}

**Dumping JSON**

In [ ]:
pythonDict = {'a': 'apple', 'b': 'bear', 'c': 'cat',}
json.dumps(pythonDict) # Convert the Python dictionary to a JSON string

**Custom JSON Decoders**

In [84]:
class Animal:
    def __init__(self, name):
        self.name = name

class AnimalEncoder(JSONEncoder):
    def default(self, o):
        if type(o) == Animal:
            return o.name
        return super().default(o)
    
pythonDict = {'a': Animal('aardvark'), 'b': Animal('bear'), 'c': Animal('cat'),}
json.dumps(pythonDict, cls=AnimalEncoder)

NameError: name 'JSONEncoder' is not defined

## Command Line Interface (CLI) Program

In [ ]:
from argparse import ArgumentParser  # Import ArgumentParser from argparse module

parser = ArgumentParser() # Create an ArgumentParser object

parser.add_argument('--output', '-o', required=True, help='The destination file for the output of this program') # Add an argument for the output file
parser.add_argument('--text', '-t', required=True, help='The text to write to the file') # Add an argument for the text to write


args = parser.parse_args() # Parse the command line arguments

with open(args.output, 'w') as f: # Open the output file for writing
    f.write(args.text+'\n') # Write the text to the file

print(f'Wrote "{args.text}" to file "{args.output}"') # Print a confirmation message